<main class="host">
    <section class="appointment" title="Modificar citas existentes">
        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>
    
        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>
    
        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>

        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>

        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>

        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>

        <a  target="_blank" 
            href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MW9udXZ1OGJ1ZDFxa2hvYnJtNXRscGtkdmogY19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bn&amp;tmsrc=c_prj5k0gmhhie20flm2nvttqm0c%40group.calendar.google.com">
            <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif">
        </a>
    </section>

    <iframe id="calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FBogota&src=Y19wcmo1azBnbWhoaWUyMGZsbTJudnR0cW0wY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457" frameborder="0" scrolling="no"></iframe>
</main>